<div class="signupcontainer">
  <div class="formground">
  <h2>Sign Up Here</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  wrapper_html: {class: "around"},
                  input_html: { autocomplete: "email" },
                  label: "My Email Address" %>
      <%= f.input :avatar, label: "My favourite profile pic" %>
      <%= f.input :avatar_cache, as: :hidden,
                  wrapper_html: {class: "around"} %>
      <br>
      <%= f.input :first_name,
                  required: true,
                  wrapper_html: {class: "around"},
                  label: "My First Name" %>
      <%= f.input :last_name,
                  required: true,
                  wrapper_html: {class: "around"},
                  label: "My Last Name" %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  wrapper_html: {class: "around"} %>
      <%= f.input :password_confirmation,
                  required: true,
                  wrapper_html: {class: "around"},
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :birth_date, as: :date, html5: true, label:"I was born on:",
      wrapper_html: {class: "around"} %>
      <%= f.label "I speak:" %>
      <br>
      <%= f.select :language, %w(english french dutch spanish italian german japanese) %>
      <br>
      <br>
      <%= f.label :"A few things about myself:" %>
      <br>
      <%= f.text_area :short_description,
                  required: true, wrapper_html: {class: "around"} %>
      <br>
      <%= f.submit "Sign me up!", class: "btn btn-danger" %>
    <% end %>
    </div>

  </div>

