<%= simple_form_for(@friend) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :location,
                    required: true, wrapper_html: {class: "around"}, label: "You can find me here:" %>
        <%= f.input :large_description,
                      required: true, label: "Some fun things I like to do are:", input_html: {class: "textarea"}, wrapper_html: {class: "around"} %>
        <%= f.input :price_per_hour,
                    required: true, wrapper_html: {class: "around"}, label: "Per hour I will charge:" %>`
        <%= f.submit "Become friendly!", class: "btn btn-danger" %>
      </div>
    <% end %>
