<div class="flexbox">
  <% @friends.each do |friend| %>
  <%= link_to friend_path(friend) do %>
  <h1>more</h1>
    <div class="cards">
      <div class="picture" style="background-image: url('<%= cl_image_path User.find(friend.user_id).avatar.url %>')">
      </div>
      <h2>
        <%= User.find(friend.user_id).first_name %>
      </h2>
      <h3>
        <%= User.find(friend.user_id).birth_date %>
      </h3>
      <p> <%= User.find(friend.user_id).short_description %> </p>
    </div>
    <% end %>
  <% end %>
</div>
