<div style="padding-top: 60px;"></div>
<div class="banner-show">
  <div class="avatr" style="background-image: url('<%= cl_image_path @user_friend.avatar.url %>')">
  </div>
  <div class="flexbox-show">
    <% @friend.photos.each do |photo| %>
      <%= cl_image_tag photo.picture, height: 200;%>
    <% end %>
  </div>

</div>
<h1><%= @user_friend.first_name %></h1>
<h1><%= @user_friend.last_name %></h1>
<p> <%= @friend.large_description %></p>

<%= link_to 'Meet with this friend', new_friend_friendship_path(@friend) %>
