<div class="banner-container">
  <div class="left-image">
    <div class="card-category avatar-show" style="background-image: url('<%= cl_image_path @user_friend.avatar.url %>')">

    <!-- "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_tag @user_friend.avatar.url %>')"> -->
      <div>
        <div class="absolute-bottom-left">
          <h3 class="name-space">Hi, my name is </h3>
          <h4><%= @user_friend.first_name %> <%= @user_friend.last_name%></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container card-category">
    <div class="rows">
      <% if @friend.photos.first %>
        <div class="friend-image border-radius-top-left" style="background-image: url('<%= cl_image_path @friend.photos.first.picture.url %>')">
        </div>
      <% else %>
        <div class="friend-image default-image border-radius-top-left" ">
        </div>
      <% end %>
      <% if @friend.photos[1] %>
        <div class="friend-image border-radius-top-right" style="background-image: url('<%= cl_image_path @friend.photos[1].picture.url %>');">
        </div>
      <% else %>
        <div class="friend-image default-image border-radius-top-right">
        </div>
      <% end %>
    </div>
    <div class="rows">
      <% if @friend.photos[2] %>
        <div class="friend-image border-radius-bottom-left" style="background-image: url('<%= cl_image_path @friend.photos[2].picture.url %>')">
        </div>
      <% else %>
        <div class="friend-image default-image border-radius-bottom-left">
        </div>
      <% end %>
      <% if @friend.photos[3] %>
        <div class="friend-image border-radius-bottom-right" style="background-image: url('<%= cl_image_path @friend.photos[3].picture.url %>')">
        </div>
      <% else %>
        <div class="friend-image default-image border-radius-bottom-right">
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="parent-container">
  <div class="left-content">


    <div class="left-description-section">
      <div class="about-section">
        <h4>About <%= @user_friend.first_name %> </h4>
      </div>
      <div class="left-description">
        <h5>Description</h5>
        <p>
          <%= @friend.large_description %>
        </p>
      </div>


      <hr/>
      <div class="reviews-section">
        <h4>Reviews</h4>

        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <div class="notification-content">
            <p><small>14th January</small></p>
            <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
          </div>
        </div>

        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
          <div class="notification-content">
            <p><small>9th January</small></p>
            <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
          </div>
        </div>

      <% if @friendship %>
        <div class="notification">
          <%= render 'reviewform', review: Review.new, friendship: @friendship  %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="review-section">
      <div class="container-map">
        <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>

  <div class="right-booking">
    <div class="booking-box">
      <h4>
        Book a Friend Details
      </h4>
      <div class="booking-description-section">
        <div class="description-left">
          <ul class="list-inline bottom-list">
            <li>
              <h5><%= @friend.price_per_hour %>€</h5>
            </li>
            <li>
              <h5>Per Hour</h5>
            </li>
          </ul>
        </div>
      </div>
      <%= link_to "Book Friend", new_friend_friendship_path(@friend), class: "btn btn-flat" %>
    </div>
  </div>
</div>


