<div style="padding-top:100px;"></div>
<p class="hidden price_per_hour"><%= @friend.price_per_hour %></p>
<%= simple_form_for [@friend, @friendship] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs" style="width:50vw">
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>

      <%= f.label :start_hour %>
      <%= f.select :start_hour, 0..24 %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.label :end_hour %>
      <%= f.select :end_hour, 0..24, class: "eventCalculateTime"%>
      <br>
      <%= f.button :submit, "Go", class: "hidden submit-btn btn-primary" %>
      <hr>
  </div>
<% end %>
<button class="visuPrice">Visualize cost</button>
<h1 class="displayCost"></h1>
