<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517840933437-c41356892b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div>
    <div class="title-container">
      <h1>Buddy And Me</h1>
      <p>You'll never be lonely.</p>
    </div>



    <div class="searchbar">
      <%= form_tag((friends_path), method: "get", :html => {class: "form-inline" }) do %>
        <%= text_field_tag :location, nil, :placeholder => " City", id: "location-field" %>
        <%= select_tag(:option, options_for_select(%w(english french dutch spanish italian german japanese).map { |x| x.capitalize }, params[:option] ))  %>
        <%= submit_tag 'Search', class: "btn btn-danger" %>
      <% end %>
    </div>
     <%= link_to "See all friends", friends_path, class: "btn btn-success" %>
  </div>
</div>





<!-- display: flex; align-items: center; on the form-inline -->
